/bin/
/plugins/
/sonar/
/.settings/
/target/
/.idea/
/.vscode/
/data-storage/

.classpath
.factorypath
.project
*.iml
*.bak
.DS_Store

dependency-reduced-pom.xml
/src/test/implementation/items/autocrafters/TestAutoCrafter.java
/.git-versioned-pom.xml

*.db
