<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <activeProfiles>
        <activeProfile>github</activeProfile>
    </activeProfiles>

    <profiles>
        <profile>
            <id>github</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                </repository>
                <repository>
                    <id>dough</id>
                    <url>https://maven.pkg.github.com/StarWishsama/dough</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <servers>
        <server>
            <id>dough</id>
            <username>StarWishsama</username>
            <password>&#103;&#104;&#112;&#95;&#97;&#66;&#115;&#98;&#121;&#66;&#75;&#67;&#48;&#83;&#120;&#66;&#74;&#49;&#104;&#56;&#81;&#52;&#75;&#80;&#105;&#48;&#106;&#101;&#66;&#122;&#66;&#54;&#80;&#84;&#49;&#121;&#75;&#87;&#83;&#80;</password>
        </server>
    </servers>
</settings>