<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <activeProfiles>
        <activeProfile>github</activeProfile>
    </activeProfiles>

    <profiles>
        <profile>
            <id>github</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo1.maven.org/maven2</url>
                </repository>
                <repository>
                    <id>dough</id>
                    <url>https://maven.pkg.github.com/StarWishsama/dough</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <servers>
        <server>
            <id>dough</id>
            <username>StarWishsama</username>
            <password>\u0067\u0068\u0070\u005f\u0061\u0042\u0073\u0062\u0079\u0042\u004b\u0043\u0030\u0053\u0078\u0042\u004a\u0031\u0068\u0038\u0051\u0034\u004b\u0050\u0069\u0030\u006a\u0065\u0042\u007a\u0042\u0036\u0050\u0054\u0031\u0079\u004b\u0057\u0053\u0050</password>
        </server>
    </servers>
</settings>